*{
    text-align: center;
	font-family:  "Moon", Arial, sans serif;
	font-weight: normal;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#puzzle-container {
    display: grid;
    grid-template-columns: repeat(20, 40px);
    grid-gap: 0.5px;
    margin: 20px auto;
}

.puzzle-cell {
    width: 30px;
    height: 30px;
    border: 1px solid #de2dc1;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
}
video {
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -100;
  }
